@model IEnumerable<SiSee_v1.Models.User>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div class="row">
    <div class="col-md-8">
        <section id="MemberForm">
            <h3>會員個人資料</h3>
            <td>
                @Html.ActionLink("Edit", "Edit") |
                @Html.ActionLink("Details", "Details") |
                @Html.ActionLink("Delete", "Delete")
            </td>
            <hr />
            <div class="col-md-1">
            </div>
            <div class="col-md-11" style="line-height:30px;">
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">姓名</label>
                    </div>
                    <div class="col-md-10">
                        <label class="control-label">放資料庫裡的使用者姓名</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">電話</label>
                    </div>
                    <div class="col-md-10">
                        <label class="control-label">放資料庫裡的使用者電話</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">生日</label>
                    </div>
                    <div class="col-md-10">
                        <label class="control-label">放資料庫裡的使用者生日</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">信箱</label>
                    </div>
                    <div class="col-md-10">
                        <label class="control-label">放資料庫裡的使用者信箱</label>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_FBID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_other)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_FBID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_other)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.user_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.user_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.user_ID })
            </td>
        </tr>
    }
</table>
