@model IEnumerable<SiSee_v1.Models.FavoriteRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Spot.spot_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_FBID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Spot.spot_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_FBID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.searchrecord_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.searchrecord_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.searchrecord_ID })
        </td>
    </tr>
}

</table>
