@model SiSee_v1.Models.ViewModels.SpotDetail
@{
    ViewBag.Title = "Details";
}
@Scripts.Render("~/Scripts/Detail.js")
@Styles.Render("~/Content/css/Details.css")
<style type="text/css">
    .context {
        color: #565656;
    }
</style>
<div class="Control">
    <input class="SpotName" value=@Html.DisplayFor(model => model.Spot.spot_name) type="hidden" />
</div>
<div class="background">
    <div>
        <input class="SpotID" value=@Html.DisplayFor(model => model.Spot.spot_ID) type="hidden" />
        <span style="font-size:30px;">
            @Html.DisplayFor(model => model.Spot.spot_name)
        </span>
        | @Html.DisplayNameFor(model => model.Spot.spot_add) :
        <span id="address">@Html.DisplayFor(model => model.Spot.spot_add)</span>
    </div>
    <div style="float:left; width:30%;">
        <div style="font-size:medium;" class="context">
            @Html.DisplayFor(model => model.Spot.Area.area_Name)
            <p />
            @Html.DisplayNameFor(model => model.Spot.spot_optimeS) :
            @Html.DisplayFor(model => model.Spot.spot_optimeS)
            <p />
            @Html.DisplayNameFor(model => model.Spot.spot_fee) :
            @Html.DisplayFor(model => model.Spot.spot_fee)
            <p />
            @Html.DisplayNameFor(model => model.Spot.spot_tel) :
            @Html.DisplayFor(model => model.Spot.spot_tel)
            <p />
            @Html.DisplayNameFor(model => model.Spot.spot_score) :
            @Html.DisplayFor(model => model.Spot.spot_score)
        </div>
        <p><a href="@Html.Encode(Request.UrlReferrer.ToString())" class="btn btn-warning">上一頁</a></p>
        <p />
        <a href="/Spots/SearchBlog?SearchText=@ViewData["SearchName"]" class="btn btn-warning ">找部落格</a>
        <p />
        <a href="#Comment" class="btn btn-warning CommentRecordButton">評論</a>
        <span class="CommentCount" style="color:#db3a0e;">  </span>則評論
        <p />
        <button type="button" class="btn btn-warning FavoriteRecordButton"><span class="glyphicon glyphicon-heart "></span>收藏</button>
        <span class="FavoriteRecordCount" style="color:#db3a0e;">  </span>人收藏
        <p />
        瀏覽數:
        <span class="SearchCount" style="color:#db3a0e;"> @ViewData["SearchCount"]</span>
        <p />
        <button type="button" class="btn btn-warning">加入規劃路線</button>
        <p />
    </div>
    <div style="float:left; width:70%;" class="context">
        <p />
        <h4>
            @Html.DisplayNameFor(model => model.Spot.spot_context) :
        </h4>
        <p />
        @Html.DisplayFor(model => model.Spot.spot_context)
        <div class="contains-white">
            google 地圖
            <div id="map-canvas" style="width:99% ;height:280px;"></div>
        </div>
    </div>
    <span style="font-size:20px;color:#db3a0e;">評論</span>  |  共
    <span class="CommentCount"></span>則

    @foreach (var item in Model.CommentRecords)
    {
        <div class="contains-white">
            <span style="width:20%">
                @Html.HiddenFor(modelItem => item.commentrecord_ID)
                @Html.DisplayFor(modelItem => item.comment_grade) 分
                <br />
                @Html.DisplayFor(modelItem => item.User.user_name) 覺得:
                <br />
                於 @Html.DisplayFor(modelItem => item.comment_date)
            </span>
            <span>
                @Html.DisplayFor(modelItem => item.comment_context)
            </span>
        </div>
    }
    <a name="Comment"></a>
    <br />
    <br />
    <div class="contains-white">
        @using (Html.BeginForm("CreateCommandRecord", "CommentRecords", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Spot.spot_ID)
            @Html.Hidden("UserID", "1")
            <div>
                <p class="col-lg-12">
                    <span class="col-lg-12 col-sm-2">
                        我要評分
                    </span>
                    <input type="text" class="Grade text form-control col-lg-12 col-sm-10" name="Grade" value="0"  />
                    <div class="">
                        <div class="CommentImgdiv">
                            <img src="~/Content/img/star_b.png" style="max-height:32px;max-width:32px" class="CommentImg" id="1" /> 
                          <img src="~/Content/img/star_b.png" style="max-height:32px;max-width:32px"  class="CommentImg" id="2" />
                            <img src="~/Content/img/star_b.png" style="max-height:32px;max-width:32px"  class="CommentImg" id="3" />
                            <img src="~/Content/img/star_b.png" style="max-height:32px;max-width:32px"  class="CommentImg" id="4" />
                            <img src="~/Content/img/star_b.png" style="max-height:32px;max-width:32px"  class="CommentImg" id="5" />
                        </div>
                    </div>
                </p>
                <p class="col-lg-12">
                    <span class="col-lg-12 col-sm-2">
                        你覺得 :
                    </span>
                    <textarea class="text form-control col-lg-12 col-sm-10" cols="3" name="Command" placeholder="留點評論..."></textarea>
                </p>
                <input type="submit" value="送出" class="btn btn-warning" />
            </div>
        }
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Spot.spot_ID }) |*@
        @Html.ActionLink("回到列表", "Index")
    </p>
    <div class="FBCommentt" style="display:block">
        <input class="AreaName" value=@Html.DisplayFor(model => model.Spot.Area.area_Name) type="hidden" />
        <div class=" fb-comments" data-href="" data-width="100%" data-numposts="4"></div>
    </div>
</div>