@model IEnumerable<SiSee_v1.Models.Spot>

@{
    ViewBag.Title = "景點資訊列表";
}

@Scripts.Render("~/Scripts/Index.js")

<h2>搜尋</h2>

<div>
    <button type="button" class="SearchButton btn btn-info">站內搜尋</button>
</div>
<br />

<div style="font-size:large">
    <span id="SearchName">
        @if (ViewData["SearchName"] != "全部")
        {
            <strong><span class="glyphicon glyphicon-hand-right"></span> @ViewData["SearchName"] </strong>
        }
        else
        {
            <span>  @ViewData["SearchName"] </span>
        }
    </span>
    <span>
        共 @ViewData["TotalCount"] 筆
    </span>
</div>

<div class="alert alert-info success LoginedInfo" style="display:none">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>登入成功!</strong><span></span>
</div>

<div style="text-align:right">
    @Html.ActionLink("依名稱排列(ALL)", "Index", new { id = "依名稱排列" })
    @Html.ActionLink("依熱門排列(TOP100)", "Index", new { id = "" })
</div>

<div class="table-responsive">
    <table class="responsive-table responsive-table-input-matrix ">
        <tr class="info">
            <th width="40%">
                @Html.DisplayNameFor(model => model.spot_name)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.spot_tel)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.spot_score)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.spot_loaction)
            </th>
            <th></th>
        </tr>
     
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.spot_name).ToString(), "Details", new { id = item.spot_ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.spot_tel)
                </td>
                <td>
                    <span class="ScoreList">@Html.DisplayFor(modelItem => item.spot_score)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.spot_loaction)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.spot_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.spot_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.spot_ID })*@
                </td>
            </tr>
        }
    </table>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


