@model IEnumerable<SiSee_v1.Models.Spot>

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/Scripts/Index.js")

<h2>Index</h2>

@using (Html.BeginForm("SearchBlog", "Spots", FormMethod.Get))
{
    <div>
        @Html.TextBox("SearchText", null, new { @class = "SearchText text text-info" })
        <button type="button" class="SearchButton btn btn-info">站內搜尋</button>
        <button type="button" class="SpotBlogSearchButton btn btn-info">Blog大神</button>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <span id="SearchName">
        @if (TempData["SearchName"] != "全部")
        {
            <span> 搜尋: @TempData["SearchName"] </span>
        }
        else
        {
            <span>  @TempData["SearchName"] </span>
        }
    </span>
    <span>
        共 @ViewData["TotalCount"] 筆
    </span>

    <div  style="float:right">
        @*樣式在自己調整*@
        <p>醜陋的分類</p>
        <a href="http://localhost:9542/Spots/Index/北部/">北部</a>
        <a href="http://localhost:9542/Spots/Index/中部/">中部</a>
        <a href="http://localhost:9542/Spots/Index/南部/">南部</a>
        <a href="http://localhost:9542/Spots/Index/東部/">東部</a>
    </div>

</div>

<table class="table col-lg-12">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.spot_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spot_tel)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.spot_context)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.spot_optimeS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spot_add)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spot_fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spot_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spot_other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spot_loaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.area_Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.spot_name).ToString(), "Details", new { id = item.spot_ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spot_tel)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.spot_context)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.spot_optimeS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spot_add)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spot_fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spot_score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spot_other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spot_loaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.area_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.spot_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.spot_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.spot_ID })
        </td>
    </tr>
    }
</table>


