@model IEnumerable<SiSee_v1.Models.Spot>

@{
    ViewBag.Title = "景點資訊列表";
}

@Scripts.Render("~/Scripts/Index.js")

<h2>Index</h2>
<div>

    @using (Html.BeginForm("SearchBlog", "Spots", FormMethod.Get))
    {
        <div>
            @Html.TextBox("SearchText", null, new { @class = "SearchText text text-info" })
            <button type="button" class="SearchButton btn btn-info">站內搜尋</button>
            <button type="submit" class="SpotBlogSearchButton btn btn-info">Blog大神</button>
        </div>
    }

</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <span id="SearchName">
        @if (TempData["SearchName"] != "全部")
        {
            <span> 搜尋: <strong> @TempData["SearchName"] </strong></span>
        }
        else
        {
            <span>  @TempData["SearchName"] </span>
        }
    </span>
    <span>
        共 @ViewData["TotalCount"] 筆
    </span>
</div>

<div class="alert alert-info success LoginedInfo" style="display:none">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>登入成功!</strong><span></span>
</div>

<div style="text-align:right">
    @*樣式在自己調整*@
    <p>分類</p>
    @Html.ActionLink("北部", "Index", "Spots", new { id = "北部" }, null)
    @Html.ActionLink("中部", "Index", "Spots", new { id = "中部" }, null)
    @Html.ActionLink("南部", "Index", "Spots", new { id = "南部" }, null)
    @Html.ActionLink("東部", "Index", "Spots", new { id = "東部" }, null)
</div>

<div class="table-responsive">
    <table class="table col-lg-12 table-condensed table-striped ">
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.spot_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spot_tel)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.spot_context)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.spot_optimeS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spot_add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spot_fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spot_score)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.spot_other)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.spot_loaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area.area_Name)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.spot_name).ToString(), "Details", new { id = item.spot_ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.spot_tel)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.spot_context)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.spot_optimeS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.spot_add)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.spot_fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.spot_score)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.spot_other)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.spot_loaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area.area_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.spot_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.spot_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.spot_ID })
                </td>
            </tr>
        }
    </table>
</div>


