<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SiSee ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/css/_layout.css" rel="stylesheet" />
    @Scripts.Render("~/Scripts/jquery.blockUI.js")
    @Scripts.Render("~/Scripts/fbapiconnect.js")
    @Scripts.Render("~/Scripts/Share.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /*.SearchText {
            border: 2px solid #456879;
            border-radius: 10px;
            height: 22px;
            width: 230px;
        }*/
    </style>
</head>
<body>
    @Html.Partial("_Navbar")
    <!-- 各自VIEW 內容-->
    <div class="container body-content">
        @RenderBody()
        <hr />

        <!-- Login Dialog-->
        <div class="modal fade" id="LoginDialog" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">歡迎加入...</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-info" style="text-align:center">SiSee將取得你的基本資料</p>
                        <p class="text-info" style="text-align:center">往後您將可自由修改!</p>
                        <div class="form-group">
                            姓名:<span style="text-align:right" id="FBName"></span>
                        </div>
                        <div class="form-group">
                            email:<span style="text-align:right" id="FBMail"></span>
                        </div>
                        @*<div class="form-group">
                                生日:<span id="FBBirth">@DateTime.Now</span>
                            </div>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default CreateNewUserButton" data-dismiss="modal">繼續</button>
                    </div>
                </div>

            </div>
        </div>

        <footer style="margin-top:50px">
            <p>&copy; @DateTime.Now.ToShortDateString()- KUAS MIS .NET Application</p>
        </footer>
    </div>
</body>
</html>