<div class="navbar navbar-inverse navbar-fixed-top" id="navbartop">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SiSee", "Home", "Spots", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav " id="navbartopfont">
                <li>@Html.ActionLink("首頁", "Home", "Spots")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">景點 <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color:#1D2038">
                        <li>@Html.ActionLink("北部", "Index", "Spots", new { id = "北部" }, new { @style = "" })</li>
                        <li>@Html.ActionLink("中部", "Index", "Spots", new { id = "中部" }, new { @style = "" })</li>
                        <li>@Html.ActionLink("南部", "Index", "Spots", new { id = "南部" }, new { @style = "" })</li>
                        <li>@Html.ActionLink("東部", "Index", "Spots", new { id = "東部" }, new { @style = "" })</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("搜尋", "Index", "Spots")</li>
                <li>@Html.ActionLink("行程", "About", "Home")</li>
                @Html.Partial("_LoginMyPartial")
                <li>
                    @using (Html.BeginForm("Index", "Spots", FormMethod.Post, new { @class = "navbar-form", @id = "SearchLayoutForm" }))
                    {
                        <div class="input-group">
                            <input name="id" type="text" class="SearchText form-control" value="@ViewData["SearchName"]" />
                            <div class="input-group-btn">
                                <a onclick="document.getElementById('SearchLayoutForm').submit() " class="SearchButton">
                                    <span class="SearchButton btn glyphicon glyphicon-search" style="font-size:5pt"></span>
                                </a>
                            </div>
                        </div>
                    }
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

