@model IEnumerable<GetOpenData.Models.data>


@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<p>
    Url: @TempData["url"];
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>

        <div>
            <h4>Spot area_ID</h4>
            <select id="area">
                <option value="1">北部</option>
                <option value="2">中部</option>
                <option value="3">南部</option>
                <option value="4">東部</option>
            </select>
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.district)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.opening_hours)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.district)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.opening_hours)
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Save", "Save", "data") |
        </div>
    </div>

}